@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    background-color: #e3e3e3;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: azure;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}

.sub-header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sub-header button {
    padding: 15px 25px;
    font-size: x-large;
    cursor: pointer;
}

main {
    /* height: calc(70vh - 20px); */
    height: 70vh;
}