@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #e3e3e3;
  overflow: hidden;
}

.main-wrapper {
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: azure;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}

.header h1 {
  transition: 0.3s;
}

.header h1:hover {
  cursor: default;
  z-index: 0;
  box-shadow: 60px 30px 60px red, 60px -30px 60px blue, -60px -30px 60px green,
    -60px 30px 60px purple;
}

.sub-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

button {
  padding: 10px 12px;
  font-size: large;
  cursor: pointer;
}

main {
  /* height: calc(70vh - 20px); */
  height: 70vh;
  display: grid;
  grid-template-columns: 20% 80%;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

form label {
  font-size: 16pt;
}

form input {
  padding: 12px 20px;
}

form .form-row {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 10px;
}

form .form-row:last-child {
  margin-top: 90px;
  /* justify-content: baseline; */
}

.book-grid-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* Fix what happens after two rows */
  grid-template-rows: 50% 50%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
}

.book-card {
  background-color: aliceblue;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  transition: 0.3s;
}

.book-card:hover {
  margin-block: -5px;
  margin-inline: -5px;
  cursor: pointer;
  box-shadow: 3px 3px;
}

.book-card h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.book-card h4 {
  margin-bottom: 20px;
  text-align: center;
}

.book-card h6 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.75rem;
}
